@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-text-color: var(--text);
  --color-main-coor: var(--main-color);
  --color-card-color: var(--card-color);
}

:root {
  --background: #ffffff;
  --text: #1a1a1a;
  --main-color: #6277eb;
  --card-color: #fcfcfc;
}

.dark {
  --background: #060606;
  --text: #dddddd;
  --card-color: #131313;
}
