@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-text-color: var(--text);
  --color-secondary-text-color: var(--secondary-text);
  --color-main-color: var(--main-color);
  --color-card-color: var(--card-color);
  --color-input-color: var(--input-color);
}

:root {
  --background: #ffffff;
  --text: #1a1a1a;
  --secondary-text: #5e5e5e;
  --main-color: #6277eb;
  --card-color: #fafafa;
  --input-color: var(--color-gray-200);
}

.dark {
  --background: #060606;
  --text: #dddddd;
  --secondary-text: #9c9c9c;
  --card-color: #131313;
  --input-color: var(--color-neutral-700);
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(40px);
  }
}

@layer utilities {
  .animate-slide-up {
    animation: slide-up 0.1s ease-out forwards;
  }

  .animate-slide-down {
    animation: slide-down 0.1s ease-out forwards;
  }
}
